<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
		
	{%if data == 1 %}
    <h1>You Should follow the HOT Rolling Process</h1>  
	{% endif %}
    

    {%if data == 2 %}
    <h1>You Should follow the Cold Rolling Process</h1>  
	{% endif %}
    
    {%if data == 3 %}
    <h1>You Should follow the A-Cold Rolling Process</h1> 
	{% endif %}	
	
    {%if data == 4 %}
    <h1>You Should follow the S-Cold Rolling Process</h1> 
	
    {% endif %}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>
	<br><br>
	<h2>This Project is Done by Dr. Amitava Choudhury, under the supervision of Prof. P.P. Chattopadhaya</h2>
	<br> Check the profile of Dr. Amitava Choudhury by clicking <a href ='https://sites.google.com/view/amitava' target ='_blank'> HERE </a>

</body>

</html>
